
<ul>
    <li (click)="store.loadPage(1)">First page</li>
    ...
    <li (click)="store.filter.page() !== 1 && store.loadPage(store.filter.page() - 1)">Previous page</li>
    ...
    <li (click)="store.filter.page() !== store.totalPages() && store.loadPage(store.filter.page() + 1)">Next page </li>
    ...
   <li (click)="store.loadPage(store.totalPages())">Last page</li>
</ul>

@if(store.filter.page()){
    <p>Status of page: {{ store.state() }}</p>
    <p>Cards page {{store.filter.page()}}:</p>
    <!-- 
    @for (card of  store.cards(); track card.id) {
        <div class="card">
            <div class="title">{{ card.name }}</div>
            <div class="description">{{ card.desc }}</div>
        </div>
    }
    -->
    <div *cards="store.cards(); let card = $card">
        <div class="card">
            <div class="title">{{ card.name }}</div>
            <div class="description">{{ card.desc }}</div>
        </div>
    </div>
}